<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- replacing the head with the head code we wrote in the header html file, notice that
the attributes are listed as follows: HTML page name and path then the fragment name.
Note that all paths are relative to the templates folder-->
<head th:replace="common/header :: common-header" />

<body>

    <div th:replace="common/navbar :: common-navbar"/>

    <div class="container">
        <div class="starter-template">
            <h1 th:text="#{index.main.callout}">Enter main callout here</h1>
            <p class="lead">Use this document as a way to quickly start
            any new project. <br /> All you get is this text and mostly
            barebones HTML document.</p>
        </div>
    </div>


<!-- ====================================================
       Bootstrap and Jquery Scripts
     ====================================================
-->
<div th:replace="common/header :: before-body-scripts" />
</body>
</html>